<div class="container" style="margin-top: 70px">
    <div class="row">
        <div class="col-lg-10">
            <div style="margin-left: -20px">
                <img src="../../../assets/store.jpg" width="160" height="120">
            </div>
            <h6>地址</h6>
            <div class="row about-item">
                <div class="col-lg-6 col-md-6">
                    <p>242 新北市新莊區龍安路489號1F</p>
                </div>
                <app-about-location></app-about-location>
            </div>
            <h6 class="mt-4">電話</h6>
            <div class="row about-item">
                <div class="col-lg-4 col-md-4">
                    <p>(02)2204-3818</p>
                </div>
            </div>
            <h6 class="mt-4">營業時間</h6>
            <div class="row about-item">
                <div class="col-lg-4 col-md-4">
                    <p>週一 ~ 週六：11:00~14:30 / 16:00~21:30</p>
                    <p>週日：公休</p>
                </div>
            </div>
            <h6 class="mt-4">粉專</h6>
            <div class="row about-item">
                <div class="col-lg-4 col-md-4">
                    
                </div>
            </div>         
        </div>
        <div class="col-lg-1"></div>
    </div>
</div>









